.afx-input {
  transition: 0.3s ease;
  width: 100%;
  color: rgb(31, 31, 31);
  border: 1.5px solid rgb(214, 214, 214) !important;
  background-color: rgb(233, 233, 233);
  padding: 12px 12px;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
}
